@font-face {
    font-family: 'lobster_1.4regular';
    src: url('../fonts/lobsterregular-webfont.eot');
    src: url('../fonts/lobsterregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobsterregular-webfont.woff2') format('woff2'),
         url('../fonts/lobsterregular-webfont.woff') format('woff'),
         url('../fonts/lobsterregular-webfont.ttf') format('truetype'),
         url('../fonts/lobsterregular-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0 auto;
	color: #000;
	background: #fff;
	font: 12px/1 'Open Sans', arial, helvetica, sans-serif;
}
/* General reset */
img {
	border: none;
	max-width: 100%;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
h1, h2, h3, h4 {
	font-family: 'lobster_1.4regular';

}

input, button, textarea, select {
	outline: none;
}

/* General settings */

/*DEFAULT STYLE*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 1280px;
	padding: 0 10px;
	margin: 0 auto;
}

.vertical-align::before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-left: -4px;
}

.vertical-align > * {
	display: inline-block;
	vertical-align: middle;
}

.form-control {
	width: 100%;
	border: 2px solid #b5b5b5;
	background: #fff;
	height: 34px;
	color: #5a5959;
	font-size: 14px;
	font-family: 'Open Sans';
	padding-left: 14px;
}

.form-control:focus {
	border-color: #bc2336;
}
::-webkit-input-placeholder {color:#5a5959;}
::-moz-placeholder          {color:#5a5959;}/ Firefox 19+ /
:-moz-placeholder           {color:#5a5959;}/ Firefox 18- /
:-ms-input-placeholder      {color:#5a5959;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

/*HEADER START*/

.header {
height: 116px;
background: #fff;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 999;
}

.logo {
	float: left;
	margin-top: 10px;
}

.menu-nav {
	float: left;
	margin-top: 50px;
	margin-left: 200px;
}

.icon-nav li {
	display: inline-block;
}

.menu-nav li {
	display: inline-block;;
}

.menu-nav li + li {
	margin-left: 25px;
}

.menu-nav li a {
	font-size: 18px;
}

.header .icon-nav {
	float: right;
	margin-top: 45px;
	margin-right: 15px;
}

.header .icon-nav li + li {
	margin-left: 33px;
}

.icon-nav li a {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../img/ic-sprite.png');
}

.icon-nav li a.vk {
	background-position: -24px -48px;
}

.icon-nav li a.tw {
	background-position: -24px -24px;
}

.icon-nav li a.gl {
	background-position: -24px -0px;
}

/*MAIN START*/

.call-to-action {
background: url('../img/inner-bg.jpg') no-repeat top center;
background-size: cover;
width: 100%;
height: 100vh;
padding-top: 116px;
text-align: center;
}

.call-to-action-text h1 {
	font-size: 60px;
	color: #fff;
}

.call-to-action-text span {
	font-size: 16px;
	color: #fff;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 30px;
}

.btn {
	display: block;
	font-size: 18px;
	color: #fff;
	width: 300px;
	height: 55px;
	border: solid 3px #bc2336;
	margin: 0 auto;
	line-height: 49px;
}

.btn:hover {
	background-color: #bc2336;
}

.about_us {
	margin-top: 64px;
	text-align: center;
}

.about_us h2 {
	font-size: 36px;
	margin-bottom: 35px;
}

.about_us p {
	font-size: 20px;
	line-height: 1.3em;
	padding: 0 130px;
}

.service-wrp {
	font-size: 0;
	margin-top: 60px;
}

.service {
	display: inline-block;
	width: 33.3333%;
	padding: 0 10px;
	position: relative;
	margin-bottom: 30px;
}

.service span {
	width: 99%;
}

.service-text {
	width: 206px;
	height: 206px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .85);
	position: absolute;
	top: 50%;
	margin-top: -103px;
	left: 50%;
	margin-left: -103px;
	text-align: center;
}

.service-text a {
	display: inline-block;
	width: 197px;
	height: 197px;
	border-radius: 50%;
	text-align: center;
	font-size: 18px;
	color: #000;
	margin-left: 4px;
	border: 3px solid transparent;
}

.service-text a:hover {
	border: 3px solid #bc2336;
	color: #bc2336;
}

/*MAIN END*/

/*FOOTER START*/

.footer {
	height: 245px;
	background: #000000;
	color: #fff;
	text-align: center;
	padding-top: 28px;
}

.footer span {
	display: block;

}

.footer h3 {
	font-size: 24px;
	margin-bottom: 40px;
}

.footer span {
	margin-top: 6px;
}

.footer ul.icon-nav li a.vk {
	background-position: -0px -48px;
}

.footer ul.icon-nav li a.tw {
	background-position: -0px -24px;
}

.footer ul.icon-nav li a.gl {
	background-position: -0px -0px;
}

ul.icon-nav li a.vk:hover {
	background-position: -48px -48px;
}

ul.icon-nav li a.tw:hover {
	background-position: -48px -24px;
}

ul.icon-nav li a.gl:hover {
	background-position: -48px -0px;
}

.footer .icon-nav {
	margin-top: 35px;
}

.footer .icon-nav li + li {
	margin-left: 23px;
}
/*MODAL STYLE*/
.modal {
	display: none;
	background: #fff;
	width: 775px;
	min-height: 405px;
	padding: 20px;
	position: relative;
}

.modal#order p {
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
}

.modal#order h3 {
	text-align: center;
	font-size: 24px;
	margin-top: 8px;
}

.modal#order .form-block {
	width: 342px;
	height: 162px;
	float: left;
	margin: 38px 0 48px 15px;
}

.modal#order textarea.form-control {
	height: 97px;
	resize: none;
	padding-top: 8px;
}

.modal#order .form-control {
	margin-bottom: 30px;
}

.modal form .btn {
	display: block;
	font-size: 18px;
	background-color: #bc2336;
	width: 135px;
	height: 45px;
	border-radius: 3px;
	margin: 0 auto;
	line-height: 39px;
	color: #fff;
}

.close {
	position: absolute;
	top: 8px;
	right: 7px;
	width: 43px;
	height: 42px;
	cursor: pointer;
	border: 2px solid #bd2638;
	border-radius: 50%;
}

.close:before,
.close:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 50%;
	width: 26px;
	margin-right: -13px;
	margin-top: -1px;
	height: 2px;
	background: #bd2638;
}

.close:before {
	transform: rotate(45deg);
}

.close:after {
	transform: rotate(-45deg);
}

.slicknav_menu {
	display:none;
}

/*MEDIA*/
@media (max-width: 1300px) {
	.container {
		width: 1156px;
	}
	.menu-nav {
		margin-left: 113px;
	}
}

@media (max-width: 1172px) {
	.container {
		width: 950px;
	}
	.menu-nav {
		margin-left: 55px;
	}
	.menu-nav li a {
		font-size: 16px;
	}
	.header .icon-nav {
		margin-right: 15px;
	}
	.header .icon-nav li + li {
		margin-left: 20px;
	}
	.menu-nav li + li {
		margin-left: 18px;
	}
	.service-text {
		width: 180px;
		height: 180px;
		margin-top: -90px;
		margin-left: -90px;
	}
	.service-text a {
		width: 170px;
		height: 170px;
	}
}

@media (max-width: 949px) {
	.container {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.slicknav_menu {
	display:block;
	float: right;
	margin-top: 30px;
	}
	.menu-nav {
		display: none;
	}
	.header .icon-nav{
		display: none;
	}
	.about_us p {
		font-size: 18px;
		padding: 0 50px;
	}
	.service {
		padding: 0 5px;
		margin-bottom: 15px;
	}
	.service-text {
		width: 140px;
		height: 140px;
		margin-top: -70px;
		margin-left: -70px;
	}
	.service-text a {
		width: 130px;
		height: 130px;
	}
	.service-text a {
		font-size: 16px;
	}
	.service-text a:hover {
		border-width: 2px;
	}
	.modal {
		width: 715px;
	}
	.modal#order .form-block {
		width: 322px;
		margin-bottom: 28px;
	}
}
@media (max-width: 767px){
	.service {
		width: 50%;
	}
	.modal {
		width: 600px;
	}
	.modal#order .form-block {
		width: 260px;
		margin-bottom: 28px;
	}
}
@media (max-width: 639px) {
	.call-to-action {
		height: 500px;
	}
	.modal {
		width: 450px;
		left: 12px;
	}
	.modal#order .form-block {
		width: 190px;
		margin-bottom: 18px;
	}
}

@media (max-width: 479px) {
	.service {
		width:100%;
	}
	.call-to-action-text h1 {
		font-size: 40px;
	}
	.call-to-action-text span {
    font-size: 12px;
	}
	.btn {
		width: 100%;
	}
	.about_us h2 {
		font-size: 26px;
		margin-bottom: 25px;
	}
	.about_us p {
		font-size: 14px;
		padding: 0 30px;
	}
	.service-wrp {
		margin-top: 40px;
	}
	.modal {
		width: 310px;
		min-height: 355px;
		padding: 25px;
	}
	.modal#order .form-block {
		width: 100%;
		margin: 0 5px 5px 5px;
	}
	.modal#order .form-control {
		margin-bottom: 20px;
	}
	.modal#order h3 {
		margin-bottom: 30px;
	}
}

.slicknav_icon-bar{
	transition: transform 0.3s ease, background-color .3s ease;
}
.slicknav_open .slicknav_icon-bar:nth-child(1){
	transform: rotate(45deg) translate(6px, 11px);
	background-color: red;
}
.slicknav_open .slicknav_icon-bar:nth-child(2){
	opacity: 0;
}
.slicknav_open .slicknav_icon-bar:nth-child(3){
	transform: rotate(-45deg) translate(-1px, -5px);
	background-color: red;
	margin: 0;
}
